.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin: 10px;
  transition-duration: 0.5s;
}

.navbar a {
  color: aliceblue !important;
  transition-duration: 0.5s;
}

.navbar li:hover{
  transition-duration: 0.5s;
  transform:translateY(-10px);
}
